/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Estilo para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Estilo para links */
a {
    color: #0070c9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para a seção principal */
.main-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

/* Estilo para títulos */
h1 {
    color: #333;
}

/* Estilo para parágrafos */
p {
    color: #666;
}

/* Estilo para listas não ordenadas */
ul {
    list-style: disc;
}

/* Estilo para rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilo para uma classe personalizada */
.custom-class {
    /* Adicione estilos personalizados aqui */
}

/* Estilo para um ID personalizado */
#custom-id {
    /* Adicione estilos personalizados aqui */
}
